title: Martin Kim
description: Personal website of Martin Kim
url: "https://martinkim.me"
baseurl: ""

markdown: kramdown
permalink: pretty

sass:
  style: compressed

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - IMPLEMENTATION_PLAN.md
